header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        margin: 1rem auto;
        font-size: clamp(1rem, 2.5vw, 6rem);
        li {
            margin: 0 1.5vw;
            transition: 400ms;
        }
        li:hover {
            transform: scale(1.4);
            text-shadow: 4px 4px 8px white;
        }
    }
}

