.loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
    background-color: black;
}

.hidden {
    animation: fadeOut 3s ease-in-out forwards;
}

.disk {
    width: 5vw;
    height: 5vw;
    display: flex;
    margin: 0 1vw;
    img {
        object-fit: contain;
    }
}

@for $i from 0 to 3 {
    .disk:nth-child(#{$i + 1}) {
        animation: bouncing 600ms infinite ($i * 100ms) ease-out alternate;
    }
}