.arrow-up {
    display: none;
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    background-color: rgba(0,0,0);
    opacity: .4;
    color: white;
    border: solid .1rem white;
    &.appears {
        @include flexCenter;
    }
   &::before {
            @include icon('\f077', clamp(1rem, 2vw, 10rem));
            margin: .5rem .3rem;
    }
    &:hover, &:focus {
        opacity: 1;
    }
}