body {
    margin: 0;
    padding: 0;
    background-color: black;
}

button {
    background-color: inherit;
    border: none;
    margin: 1vw auto;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}