
.background {
    z-index: -99;
    position: fixed;
    @include position;
    width: 100%;
    height: 100%;
    @include blury-shadow(0px, 0px, 10vw, 9vw);
	background: url(../img/karlito-bg.webp) fixed no-repeat;
	background-size: 100%;
    opacity: .6;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    p {
        margin: 0 10%;
        text-align: justify;
    }
}

#disco {
    @extend #bio;
    button {
        @include btn;
        transition: 300ms ease-in-out;
    }
    p {
        font-size: clamp(1rem, 1.5vw, 2rem);
        transition: 300ms ease-in-out;
    }
    button:hover {
        background-color: white;
    }
    button:hover > p {
        color: black;
    }
}

.covers {
    @include flexCenter;
    flex-wrap: wrap;
}

div[class^="LP"] {
    margin: 1rem 2rem;
    @include flexColumn;
    p {
        font-size: clamp(1.2rem, 2vw, 3rem);
    }
}

.album-cover {
    @include flexCenter;
    height: 26vw;
    img {
        @include imageFit;
    }
}

#videos {
    @extend #bio;
    @include flexColumn;
}

.videos__player {
    display: block;
    border: none;
    max-width: 80rem;
    max-height: 45rem;
    width: 90vw;
    height: 50vw;
    margin: 1rem auto;
}

#photos {
    @extend #bio;
}