
.background {
    z-index: -99;
    position: fixed;
    @include position;
    width: 100%;
    height: 100%;
    @include blury-shadow(0px, 0px, 10vw, 9vw);
	background: url(../img/karlito-bg.webp) fixed no-repeat;
	background-size: 100%;
    opacity: .6;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#news {
 @include flexColumn;
}

.news-square {
    border: solid white;
    padding: 2vw;
    border-radius: 1rem;
    background-color: black;
    p {
        margin: 0;
    }
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    .bio-container {
        margin: 0 10%;
        p {
            text-align: justify;
        }
        .mafiak1fry {
            float: left;
            height: 20vw;
            img {
                @include imageFit
            }
        }
    }
    
}

#disco {
    @extend #bio;
    button {
        @include btn;
        align-self: flex-start;
        transition: 400ms ease-in-out;
        margin-left: 2rem;
        &:hover {
            background-color: white;
            transform: scaleX(1.3) scaleY(1.2);
        }
        &:hover > p {
            color: black;
        }
        p {
            font-size: clamp(1rem, 1vw, 2rem);
            transition: 300ms ease-in-out;
        }
    }
    
}

.covers {
    @include flexCenter;
    flex-wrap: wrap;
}

div[class^="LP"] {
    margin: 1rem 2rem;
    @include flexColumn;
    p {
        font-size: clamp(1.2rem, 2vw, 3rem);
    }
}

.album-cover {
    @include flexCenter;
    height: 26vw;
    min-height: 14rem;
    img {
        @include imageFit;
    }
}

.collab-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid .2rem white;
    margin: 2vw auto;
}

.more {
    display: flex;
}

.mafiak1fry-collabs {
    @include flexCenter;
    flex-wrap: wrap;
}

.albums-collab {
    @include flexColumn;
    margin: 1vw 2vw;
    &__cd {
        height: 18vw;
        min-height: 10rem;
        img {
            @include imageFit;
        }
    }
}

.other-collabs {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &.more {
        display: flex;
    }
    .albums-collab {
        width: 15vw;
        &__cd {
            height: 15vw;
        }
    }
    p {
        text-align: center;
        font-size: 1rem;
    }
}

#press {
    @extend #bio;
}

.press-container {
    @extend .news-square;
}

#links {
    @include flexColumn;
    width: 100%;
    nav {
        width: 90%;
    }
}

.links-reseaux {
    @include flexCenter;
    flex-wrap: wrap;
    margin: 2vw auto;
    width: 90%;
    a {
        margin: 0 1vw;
        font-size: clamp(1rem, 1.6vw, 10rem);
        text-shadow: 1px 1px 2px black;
    }
}

.button-reseaux {
    transition: 400ms ease-in-out;
    @include flexCenter;
    &:hover, &:focus {
        transform: scaleX(1.3) scaleY(1.2);
    }
    a::before {
        margin: 0 .5vw;
    } 
}
.button-reseaux:nth-child(1) {
    background-color: $facebook-color;
    &::before {
        @include iconBrands ("\f09a", clamp(1.4rem, 1.8vw, 15rem));
    }
}
.button-reseaux:nth-child(2) {
    background-color: $linktree-color;
}

.linktree-img {
    height: 2vw;
    min-height: 1.4rem;
    img {
        @include imageFit;
    }
}

.button-reseaux:nth-child(3) {
    background-color: $youtube-color;
    &::before {
        @include iconBrands ("\f167", clamp(1.6rem, 2.2vw, 15rem));
    }
}
.button-reseaux:nth-child(4) {
    @include instagramColor;
    &::before {
        @include iconBrands ("\f16d", clamp(1.6rem, 2.2vw, 15rem));
    }
}
.button-reseaux:nth-child(5) {
    background-color: $twitter-color;
    &::before {
        @include iconBrands ("\f099", clamp(1.4rem, 1.8vw, 15rem));
    }
}