@keyframes bouncing {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-3vw);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
       opacity: 0;
       z-index: -99;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 2rem);
    }
    50%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 1rem);
    }
    100%{
       opacity: 1;
       transform: translate(0, 0);  
    }
}

@keyframes left-appears {
    from {
        transform: translateX(-100vw);
        opacity: O;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-appears {
    from {
        transform: translateX(100vw);
        opacity: O;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}